<link rel="stylesheet" href="{{ '/_assets/variables.css' | asset | url }}">
<link rel="stylesheet" href="{{ '/_assets/layout.css' | asset | url }}">
<link rel="stylesheet" href="{{ '/_assets/markdown.css' | asset | url }}">
<link rel="stylesheet" href="{{ '/_assets/style.css' | asset | url }}">
<link rel="stylesheet" href="{{ '/_assets/theme.css' | asset | url }}">
